# ------------------------------------------------------------------------------
# list of directories that we can ignore
builds/

# ------------------------------------------------------------------------------
# bunch of files that we don't care about
*.ppm

# ------------------------------------------------------------------------------
# compilation-db related
.clangd/
.cache/
.ccls-cache/
compile_commands.json
