# ------------------------------------------------------------------------------
# list of directories that we can ignore
build/*

# ------------------------------------------------------------------------------
# compilation-db related
.clangd/*
.cache/*
compile_commands.json